body {
    max-width: 960px;
    margin:0 auto;
    padding: 40px 0;
    font-family: Tahoma;
    background: url('images/crossword.png');
}

h1, h2, h3 {
    font-family: Georgia;
    line-height: 1.1;
}
.container {
    padding: 40px;
    background: #f5f5f5;
    border-top: solid 8px #666;
    border-bottom: solid 2px #666;
}

header {
    overflow: hidden;
    position: relative;
    padding-bottom: 10px;
}

.link-doc {
    position: absolute;
    bottom: 10px;
}

.ico-social {
    background: url('images/social-icons.gif');
    width: 24px;
    height: 24px;
    display: inline-block;
    text-indent: -9000px;
}

.ico-twitter {
    background-position: 0 0;
}

.ico-linkedin {
    background-position: 24px 0;
}

.content-data {
    float: left;
}

.content-data img {
    display: inline-block;
    margin-right: 50px;
}

.content-me {
    display: inline-block;
    vertical-align: top;
}

.contact-info {
    float: right;
}

header, article {
    margin-bottom: 30px;
    border-bottom: solid 1px #DDD;
}

article {
    padding-bottom: 30px;
}

article > h2 {
    position: absolute;
    width: 150px;
    font-style: italic;
}

article .content-right {
    margin-left: 200px;
    font-family: Tahoma;
}

article p + p {
    margin-top: 10px;
}

.skills {
    overflow: hidden;
}

.skills ul {
    float: left;
    width: 33%;
}

.skills li {
    border-bottom: solid 1px #ddd;
    padding-right: 40px;
}

.box-content {
    border-bottom: solid 1px #ddd;
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;
}

.box-content:last-child {
    border: none;
    margin: 0;
    padding: 0;
}

.box-content h2, .box-content h3 {
    margin: 0 0 10px 0;
}

.job-date {
    position: absolute;
    right: 0;
    top: 5px;
}

.box-content ul {
    list-style: disc;
    margin-left: 20px;
}

footer {
    text-align: center;
}

@media screen and (max-width: 960px) { 
    
    body {
        padding: 0;
    }
    
    .container {
        padding: 10px;
    }

    .content-data,
    .contact-info {
        float: none;
        text-align: center;
    }
    
    .content-data img {
        margin: 0;
    }
    
    .content-me {
        display: block;
        margin: 20px 0;
    }
    
    .link-doc {
        position: static;
    }

    article > h2 {
        position: relative;
        width: auto;
        text-align: center;
        margin-bottom: 20px;
    }

    article .content-right {
        margin: 0;
    }
    
    .skills ul {
        float: none;
        width: auto;
        list-style: disc;
        margin-left: 20px;
    }

    .skills li {
        border-bottom: none;
        padding-right: 0;
    }

    .job-date {
        position: static;
        margin-bottom: 10px;
    }

    footer span {
        white-space: nowrap;
    }
}