/* RESET */
ul, li , h1{
	margin: 0;
	padding: 0;
	text-indent: 0;
	
}
.clear{
	clear:both;
}
#logo h1{
	background:url('images/logo.png') no-repeat;
	height:160px;
	width:86px;
	text-indent:-9999px;
}
#logo{
	float:left;
	margin-right:1px;
	padding:10px 0 0 10px;
}
#nav{
	padding:10px 0 0 10px;
}
/* MENU */

ul {
	list-style:none;
	display:block;
}
ul li {
	display: inline;
	float: left;
	position: relative;
	/*width: 150px;*/
	margin: 0 1px 1px 0 ;
	
}
ul li a {
	font-family:Base5;
	color: #fff;
	text-decoration: none;
	background-color: #4D4D4D;
	font-size: 16px;
	display: block;
	/*width: 140px;*/
	padding: 2px 5px;
}
ul li a:hover, ul li a:active {
	background-color: #006837;
	color:#8BC53F;
}
ul li ul {
	position: absolute;
	display: none;
}
ul li ul li {
	display: list-item;
	float: none;
	padding:1px 0 0 0;
}
ul li ul li a {
	font-size: 16px;
	display:inline;
	padding:1px 5px;
	
}


/* MENU*/



/*** SLIDESHOW
set the width and height to match your images 
**/

#slideshow {
    position:relative;
    height:350px;
	z-index:-10;
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
}

#slideshow IMG.active {
    z-index:10;
    opacity:1.0;
}

#slideshow IMG.last-active {
    z-index:9;
}

#slideshow img {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;
			
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
			
	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
}
		
@media screen and (max-width: 1024px){
	img.bg {
	left: 50%;
	margin-left: -512px; 
}
}
		
#page-wrap { 
	position: relative;
	width: 400px; 
	margin: 50px auto; 
	padding: 20px; 
	background: white; 
	-moz-box-shadow: 0 0 20px black; 
	-webkit-box-shadow: 0 0 20px black; 
	box-shadow: 0 0 20px black; 
}
/*SLIDESHOW*/

/*POPUP*/

.popup {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000; cursor:wait;}

/* Container */
#simplemodal-container {height:480px; width:640px; color:#bbb; background-color:#FFF; border-right:4px solid #4d4d4d; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(images/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3,
#simplemodal-container h2 {color:#000; font-family:Base5; margin:0; text-align:right;}
.popup  .left{
	float:left;
	padding-right:20px;
}
.popup .menu_prendas{
	padding-bottom:20px;
}
.popup .title{
	border-bottom:1px dotted #000;
	float:right;
	padding-left:10px;
	margin-bottom:20px;
	
}
.popup p{
	font-family:Base5;
	margin:0;
	color:#8BC53F;
	
}
.popup ul {
	float:left;
}
.popup ul li{
	display:block;
	list-style:none;
	height:50px;
	width:50px;
	border:1px solid #000;
	float:none;
}
.popup .fullimg{
	width:400px;
	height:330px;
	border:1px solid #000;
	float:left;

}
/* IE 6 hacks
#simplemodal-container a.modalCloseImg {background:none; right:-14px; width:22px; height:26px; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/x.png',sizingMethod='scale');}
 */
/**/