@import "screen";
@import "fonts";

html, body {
	height: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	overflow: hidden;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	line-height: 1.125;
}

.left-panel {
	width: 320px;
	background: #24B2AA;
	text-align: right;
	height: 100%;
	padding-right: 50px;
	color: #fff;
	position: fixed;
}
header {
	overflow: hidden;
	margin: 50px 0 70px 20px;
	img{
		float: left;
	}

	h1 {
		float: right;
		font-size: 30px;
		position: relative;
		top: 43px;
		
	}

}
nav {
	a {
		display: block;
		position: relative;
		margin-bottom: 15px;
		margin-right: 10px;

		&:after {
			content: '>';
			font-size: 9px;
			position: absolute;
			top: 2px;
			margin-left: 5px;
		}
	}
}

main {
	position: absolute;
	left: 370px;
	right: 0;
	overflow: scroll;
	height: 100%;
	width: 100%;
}

section {
	padding: 0 50px;
	/*max-width: 800px;*/
}

.home {
	
	color: #fff;
	position: relative;
	box-sizing: border-box;
	padding-top: 260px;
	/*background: url(../images/bkg-home.jpg);*/
	background: url(http://subtlepatterns.com/patterns/purty_wood.png);

	/*background-repeat: no-repeat;*/
	/*background-size: cover;*/
    height: 100%;
    max-height: 600px;

	h2 {
		font-size: 45px;
	}

	h5 {
		margin: 10px 0;
		font-size: 20px;
		font-weight: 400;
	}

	a + a {
		margin-left: 15px;
	}

}

.resume {
	margin-top: 50px;
	margin-bottom: 50px;
	line-height: 1.6;
	
	.title-section {
    	color: #000;
    }

	h3 {
		font-size: 27px;
		color: #8C6115;
		margin-bottom: 45px;

	}

	p {
		font-family: Tahoma;
		color: #999;
	}

	p + p {
		margin-top: 15px;
	}
}

.skills {
	color: #fff;
	padding-top: 50px;
	/*height: 764px;*/
	position: relative;
	background: url(../images/bkg-skills.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
	ul {
	    margin-right: -25px;
	}

    li {
    	background: rgba(102,102,102,0.8);
    	border: solid 2px #fff;
    	border-radius: 50%;
    	display: inline-block;
    	margin: 0 2% 2% 0;
    	text-align: center;
    	vertical-align: middle;
    	cursor: default;
    	width: 14%;
    	box-sizing:border-box;
    	position: relative;
		min-width: 100px;
		padding: 1%;
		
		&:hover {
    		background: rgba(256,256,256,0.5);
    		border-color: rgba(102,102,102,1);
    		font-weight: bold;
    		color: rgba(102,102,102,0.8);
		}

		&:before {
		    content: '';
		    display: block;
		    padding: 50% 0;
		}

    	span {
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			transform: translateY(-50%);
			display: block;
    	}
    }

    /*.big {
		height: 130px;
    	width: 130px;
    }

   .medium {
		height: 100px;
    	width: 100px;
   }

   .small {
		height: 70px;
    	width: 70px;
   }*/

}

.contact {
	background: #D9B744;
	padding-top: 50px;
	padding-bottom: 50px;
	min-height: 350px;

	h2 {
		color: #fff;
	}

	ul {
		position: relative;
	}
	li {
    	border: solid 1px #fff;
    	border-radius: 50%;
    	display: inline-block;
    	margin: 0 2% 2% 0;
    	text-align: center;
    	vertical-align: middle;
    	padding: 1%;
    	cursor: default;
    	width: 10%;
    	position: absolute;
		
		&:hover {
    		/*background: rgba(256,256,256,0.5);*/
    		/*border-color: rgba(102,102,102,1);*/
    		/*font-weight: bold;*/
    		/*color: rgba(102,102,102,0.8);*/
		}
		
		&:first-child p + p {
			text-indent: -15px;
		}

		&:nth-child(2) {
			left: 40%;
		}

		&:nth-child(3) {
			right: 50px;
			p + p {
				text-indent: -30px;
			}
		}

		&:after {
		    content: '';
		    display: block;
		    padding: 50% 0;
		}

		&:before {
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			transform: translateY(-50%);
			color: #fff;
		}
    }

    p {
		position: absolute;
		font-size: 22px;
		left: 0;
		right: 0;
		bottom: -40px;
		color: #fff;
    	white-space: nowrap;
    }

    p + p{
		bottom: -70px;
		font-size: 14px;
    }
}

footer {
	padding: 50px;

	p {
		font-size: 21px;
	}

}
.title-section {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 20px;
    letter-spacing: 0.12em;

	&:after {
		content:'';
		border-bottom: solid 5px #E6E6E6;
		width: 60px;
		display: block;
		margin-top: 10px;
	}

} 

.icon-icon-li:hover {
	color: #297CB2;
}

.icon-icon-tw:hover {
	color: #63AEEB;
}


@media screen and (max-width: 960px) {

	.left-panel {
		display: none;
	}

	main {
		position: static;
	}

	.home {
		padding-top: 10%;
	}

	.skills li {

	}
}